/Andreas_code
/Andreas_code.zip
/bad_channels_summary.csv
/code from Andreas - after his thesis
/Codes_not used
/data_cropping.py
/df_theta_roi.csv
/OneDrive_2025-02-28
/OneDrive_2025-02-28.zip
/preprocessing.ipynb
/raw_to_bids.py
/results
/signal_quality.ipynb
/signal_quality_all_participants.py
/subject17_ses1_glm.ipynb
/subjects
/Thesis_Zora.ipynb
/Tutorial MNE Nirs.ipynb
/__pycache__